@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKof4Mg.ttf) format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKkZg.ttf) format('truetype');
}
* {
  font-family: 'Nunito', sans-serif;
  color: #fff;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-weight: 500;
  font-size: 30px;
}
body p {
  font-weight: 600;
  font-size: 14px;
  margin: 0;
}
body {
  margin: 0;
}
body img {
  max-width: 100%;
}
.logo {
  max-width: 150px;
  margin: 0 30px;
}
.menu {
  width: 100%;
  height: 44px;
  background: #0a8e9a;
  margin: 15px 0;
}
.content {
  position: relative;
}
@media (min-width: 768px) {
  .content .text {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 300px;
    margin: 10px;
  }
}
.content .text {
  background: rgba(10, 142, 154, 0.9);
  padding: 20px;
}
.footer {
  background: #0a8e9a;
  margin: 15px 0 0;
  padding: 20px 0;
}
.footer .footer-item {
  padding: 0 30px;
}
