.content {
  position: relative;

  @media (min-width: 768px) {
    .text {
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 300px;
      margin: 10px;
    }
  }

  .text {
    background: rgba(10, 142, 154, .9);
    padding: 20px;
  }
}
