@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');

*{
  font-family: 'Nunito', sans-serif;
  color: #fff;
}



body{
  h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    font-size: 30px;
  }
  p{
    font-weight: 600;
    font-size: 14px;
    margin: 0;
  }
}
